<section class="navbar navbar-fixed-top custom-navbar" ng-controller="scrollController as ctl"
		role="navigation"><!-- ng-controller="scrollController as ctl" -->
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="icon icon-bar"></span> <span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
				</button>
				<!-- <span href="#" class="navbar-brand" ng-controller="directionController">
					<span ng-click="changeLang('en')" id="aBtnEN" style="display: inline;">   
            	   	   <img alt="en" src="./static/images/EN.png" style="width:20px;height: 15px;">
            		</span>
            		<span class="devider">&nbsp;</span>
	            	<span ng-click="changeLang('fa')" id="aBtnFA" style="display: inline;">
	            		<img alt="fa" src="./static/images/FA.png" style="width:20px;height: 15px;">
	            	</span>
				</span> -->
				
				<span href="#" class="navbar-brand" ng-controller="directionController" style="padding-top:0px;">
					<ul class="nav pull-right">
                    <li class="dropdown " ><a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span><span class="fa fa-user" style="font-size:medium;"></span></a>
                        <ul class="dropdown-menu" style="background-color:rgba(255,255,255,0.6)">
                            <li><a href="/user/preferences" style="color:black;"><i class="fa fa-sign-in"></i>ورود</a></li>
                            <li><a href="/help/support" style="color:black;"><i class="fa fa-plus"></i> ثبت نام</a></li>
                            <li class="divider" style="color:black;"></li>
                            <li><a href="/auth/logout" style="color:black;"><i class="fa fa-sign-out"></i> خروج</a></li>
                        </ul>
                    </li>
                </ul>
				</span>
			</div>
			<div class="collapse navbar-collapse" aria-expanded="false" >
				<ul class="nav navbar-nav navbar-left" style="direction: ltr !important;">
					<li ng-click="gotoElement('home')" class="active" ><a class="home" href="#"></a></li>
					<li ng-click="gotoElement('work')" class=""><a class="services" href="#"></a></li>
					<li ng-click="gotoElement('about')" class=""><a class="about" href="#"></a></li>
					<li ng-click="gotoElement('pricing')" class=""><a class="price" href="#"></a></li>
					<li ng-click="gotoElement('contact')" class=""><a class="contactUs" href="#"></a></li>
				</ul>
			</div>
		</div>
	</section>

	<!-- home section -->
	<section id="home"
		style="position: relative; z-index: 0; background: none;">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<h3>طراحی وب / توسعه وب / رسانه های اجتماعی</h3>
					<h1>دیجیتال تیم</h1>
					<hr>
					<a href="#work" class="smoothScroll btn btn-danger">چه کار می
						کنیم</a> <a href="#contact" class="smoothScroll btn btn-default">با
						ما صحبت کن</a>
				</div>
			</div>
		</div>
		<div class="backstretch"
			style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 491px; width: 1905px; z-index: -999998; position: absolute;">
			<img src="./static/images/home-bg-slideshow1.jpg"
				style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1905px; height: 1269.55px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -389.273px;">
		</div>
	</section>
<script src="./static/js_lib/custom.js"></script>
<script src="./static/js_lib/forHeaderMultiLang.js"></script>